{%extends 'base.html'%}
{%block content%}
<h1>My Profile</h1>

<body>
    <div>
        <ul>
            {{user.image}}
            <li>Username: {{user.username}}</li>
            <li>Firstname: {{user.firstname}}</li>
            <li>Lastname: {{user.lastname}}</li>
            <li>About Me: {{profile.bio}}</li>
            <li>Goals: {{user.goals}}</li>
        </ul>
    </div>
    <table>
        <thead>
            <tr>
                <th>Number of Projects</th>
                <th>Number of tasks</th>
            </tr>
        </thead>
        <tbody>
            {% for project in project_list %}
            <tr>
                <td>{{projects_list.all|length}}</td>
            </tr>
            {%endfor%}
            {% for project in project_list %}
            <tr>
                <td class="light"><a href="{%url 'show_project' project.id %}">{{project.name}}</a></td>
                <td>{{project.tasks.all|length}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <div>

    </div>
</body>

{%endblock content%}