@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html {
    background-color:#FFF6EA;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor:url(http://www.rw-designer.com/cursor-extern.php?id=166385), auto;
}
  
  /*This makes a circle cursor */
 /* #cursor{
    height: 30px;
    width: 30px;
    background: #FFF6EA;
    border-radius: 50%;
    position: absolute;
    display: none;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
  }
  div:hover ~ #cursor{
    transform:scale(0.5);
  }
  */
  

  body, input, textarea, button, select {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    cursor:url(http://www.rw-designer.com/cursor-extern.php?id=166385), auto;
  }

 
  header nav ul {
    background-color: #C3DBD9;
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    list-style: none;
    text-align: center ;
    margin-top: 0;
    margin-bottom: 2em;
    padding: 0 0 0 1em;
  }
  /* This moves your links in your header bar to the center and gives 
  them spacing  */
  header nav ul li {
    display: inline-block;
    padding: 5px 20px ;

  }
  /* This gets rid of the underline and changes the color of the links 
  in your header bar */
  header nav a {
    text-decoration: none;
    color: #BB6464;
    font-weight: bold;
  }
/* This changes the color of the link when you hover over it */
  nav a:hover{
    color: white ;
  }

  
  /*This change the size of the input boxes */
  input {
    height: 1em;
    margin: 0;
    padding: .25em .5em;
    /* changed the color of when you are typing in the box */
    color: #BB6464
  }
  
/*This changed the text sixe of the require username instructions  */
  .helptext {
    display: block;
    font-size: 80%;
  }
  
.login-form, 
.signup-form, 
.project-form, 
.project-list,
.task-form{
  background-color: white ;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(2, 2, 2, 0.2);
  margin:auto;
  max-width: 400px;
  padding: 2em; 
}

/*This changes the color of the header */

.signup-form > h1, 
.login-form > h1, 
.project-list h1, 
.my-tasks-list h1,
.project-form h1,
.project-detail h1,
.project-detail h2,
.password-reset-form h1,
.task-form h1{
  color:#BB6464;
  text-align: center;
}

button {
  /*This centers your button*/
  width:50%;
    margin-left:25%;
    margin-right:25%;
  /*This changes background color of button*/
  background-color: #C3DBD9;
  /*This changes the color of the text in button*/
  color:#BB6464;
  margin:50px center;
  font-weight: bold;
  /*This changes the color and sets a border for button*/
  border:grey;
  border-radius:10px;
  box-shadow: 0px 0px 2px 2px grey ;
  /*This changes the size of the button*/
  padding:15px;
  min-height:30px; 
  min-width: 120px;
}

/*This changes the styling of the reset password link*/
button a{
  text-decoration: none;
  color: #BB6464;
  font-weight: bold;
 }
 button a:hover{
   color: white;
 }
button:hover{
  /*changes color of button text when hover over it */
  color: white ;
}
/*changes color of button border when you click on button*/
button:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #FFF6EA;
}
/*Changes color of button when clicked on*/
button:active {
  background-color: #BB6464 ;
}



/*These set the color for the text box on the pasword_reset page */
.container,
.password-reset-form{
  background-color: white;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(2, 2, 2, 0.2);
  margin:auto;
  max-width: 400px;
  padding: 2em; 
}
/* These specificed the color for the return to login page */
.container a{
  text-decoration: none;
  color: #BB6464;
  font-weight: bold;
}
.container a:hover{
  color:white ;
}

/*This changes the layout of the task and projects input pages */


.my-tasks-list,
.project-list,
.project-detail {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 800px;
  padding: 2em;
}

.task-form p,
.project-form p {
  display: grid;
  align-items: center;
  column-gap: 10px;
  grid-template-columns: 100px 1fr;
}

.task-form p .helptext,
.login-form p .helptext,
.signup-form p .helptext,
.project-form p .helptext {
  grid-column-start: 2;
  grid-column-end: 3;
}

.my-tasks-list,
.project-list,
.project-detail {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: auto;
  max-width: 800px;
  padding: 2em;
}

.my-tasks-list th,
.my-tasks-list td,
.project-list th,
.project-list td,
.project-detail th,
.project-detail td {
  padding: .5em;
}
.project-list table,
.my-tasks-list table,
.project-detail table{
  margin-left: auto;
  margin-right: auto;
}

.my-tasks-list thead tr th,
.project-list thead tr th,
.project-detail thead tr th {
  border-bottom: 2px solid #C3DBD9;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.my-tasks-list tbody td:nth-child(1),
.my-tasks-list tbody td:nth-child(2),
.my-tasks-list tbody td:nth-child(3),
.my-tasks-list tbody td:nth-child(4),
.project-list tbody tr td,
.project-detail tbody td:nth-child(1),
.project-detail tbody td:nth-child(2),
.project-detail tbody td:nth-child(3),
.project-detail tbody td:nth-child(4),
.project-detail tbody td:nth-child(5) {
  text-align: center;
  text-decoration: none;
  color: #BB6464;
  font-weight: bold;
}
.project-list a,
.project-detail a{
text-decoration: none;
color: #BB6464;
font-weight: bold;
}
.project-list.light:hover{
  color:#C3DBD9 ;
}

/* Add horizontal rules to all rows except the last */
.my-tasks-list tbody :not(tr:last-child) td,
.project-list tbody :not(tr:last-child) td,
.project-detail tbody :not(tr:last-child) td {
  border-bottom: 1px solid #DEDEDE;
}

.task-form button,
.my-tasks-list button,
.project-list button,
.project-form button,
.project-detail button {
  padding: 0.10em 1em;
}