{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="d-flex flex-column">
        <p class="m-auto p-2">
            We've emailed you instructions for resetting your password, if an account exists with the email you entered.
        </p>
        <p class="m-auto p-2">
            If you don't receive an email, please make sure you've entered the email address you registered with,
            and check your spam folder.
        </p>
        <button><a href="{% url 'home' %}">Return to Login page</a></button>
    </div>
</div>

{% endblock %}