{% extends 'base.html' %}


{% block content %}


<div class="password-reset-form">
    <h1>Reset password</h1>
    <form method="POST">{% csrf_token %}
        <p>Please enter the email assoicated with your account </p>
        <input name="email" class="form-control" placeholder="Email address" type="email" id="id_email" required="true">
        <br>
        <br>
        <button>Send reset email</button>
    </form>
</div>



{% endblock %}