{% extends 'base.html' %}

{% block content %}
<div class="my-tasks-list">
    <h1>My Tasks</h1>
    <button>
        <a href="{% url 'create_task' %}">Create New Task</a>
    </button>
    {% if task_list %}
    <table>
        <thead>
            <th>Name</th>
            <th>Start date</th>
            <th>Due date</th>
            <th>Is completed</th>
        </thead>
        <tbody>
            {% for task in task_list %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.due_date }}</td>
                {% if task.is_completed %}
                <td>Done</td>
                {% else %}
                <td>
                    <form method="post" action="{% url 'complete_task' task.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="is_completed" value="True">
                        <button>Complete</button>
                    </form>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>You have no tasks</p {% endif %} {% endblock content %}