{% extends 'base.html' %}

{% block content %}
<div class="login-form">
    <h1>Login</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Login</button>
    </form>
    <div>
        <p>Forgot Password?</p>
        <button>
            <a href="{% url 'password_reset' %}">Reset password</a></button>
    </div>
</div>
{% endblock content %}