{% extends 'base.html' %}
{%load crispy_forms_tags%}

{% block content %}
<div class="signup-form">
    <h1>Sign Up</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button>Signup</button>
    </form>
</div>
{% endblock content %}

<!--Was able to get feature 10 to work after
I fixed the base.html  
{{ form.as_p }}-->