{% extends 'base.html' %}

{% block content %}
<div class="project-form">
    <h1>Create Project</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button>Create</button>
    </form>
</div>
{% endblock content %}