{%extends 'base.html'%}
{% load markdownify %}



{% block content %}
<div class="project-detail">
    <h1>{{ project.name }}</h1>
    {{ project.description|markdownify }}
    <h2>Tasks</h2>
    {% if project.tasks.all %}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
            </tr>
        </thead>
        <tbody>
            {%for task in project.tasks.all%}
            <tr>
                <td>{{task.name}}</td>
                <td>{{task.assignee}}</td>
                <td>{{task.start_date}}</td>
                <td>{{task.due_date}}</td>
                <td>{{task.is_completed|yesno}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%else%}
    <p>This project has no tasks</p>
    {%endif%}
    <button>
        <a href="{%url 'create_task'%}">Create New Task</a>
    </button>
</div>
{% endblock content %}