{% extends 'base.html' %}

{%block content%}
<div class="project-list">
    <h1>My Projects</h1>
    <button>
        <a href="{% url 'create_project' %}">Create New Project</a>
    </button>
    {%if not project_list%}
    <p>You are not assigned to any projects</p>
    {%else%}
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of task</th>
            </tr>
        </thead>
        <tbody>
            {% for project in project_list %}
            <tr>
                <td class="light"><a href="{%url 'show_project' project.id %}">{{project.name}}</a></td>
                <td>{{project.tasks.all|length}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    {%endif%}
</div>
{%endblock content%}

</html>