{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <!-- 
                <li>
                    <a href="{%url 'home'%}">Home</a> 
                </li>
            -->
                {% if user.is_authenticated is True%}
                <l1>
                    <a href="{%url 'profile'%}">My Profile</a>
                </l1>
                <li>
                    <a href="{%url 'show_my_tasks'%}">My Task</a>
                </li>
                <li>
                    <a href="{%url 'list_projects'%}">My projects</a>
                </li>
                <li>
                    <a href="{%url 'logout'%}">Logout</a>
                </li>
                {%else%}
                <li>
                    <a href="{%url 'login'%}">Login</a>
                </li>
                <li>
                    <a href="{%url 'signup'%}">Signup</a>
                </li>
                {%endif%}
            </ul>

        </nav>
    </header>
    <main>

        {% block content %}

        {% endblock content %}

    </main>
</body>

</html>
<!----cursor style this places the circle in the center 
    of cursor-->
<div id="cursor">
    <script>
        var cursor = document.getElementById("cursor");
        document.onmousemove = function (e) {
            cursor.style.left = (e.pageX) + "px";
            cursor.style.top = (e.pageY) + "py";
            cursor.style.display = "block"; </script>
</div>